<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Euroconsult</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
		<div class="row">
			<div class="col-xs-3">
				<label> Choose the dataset....</label>
				<select class="form-control" id ='first_data'>
					<option value="Budget">Budget</option>
					<option value="Satellite">Satellite</option>
				</select>
			</div>
			<div class="col-lg-12">
				<div id="tableau">
					<script>
						var tables = {{table | safe}};
						Plotly.plot('tableau',tables,{});
					</script>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
        <div class="col-xs-3">
            <label> Choose the plot type....</label>
            <select class="form-control" id ='first_cat'>
                <option value="Bar">Bar</option>
                <option value="Scatter">Scatter</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/plots.js') }}"></script>-->
<script>
	$('#first_data').on('change',function(){

		$.ajax({
			url: "/plot",
			type: "GET",
			contentType: 'application/json;charset=UTF-8',
			data: {
				'selected': document.getElementById('first_data').value

			},
			dataType:"json",
			success: function (data) {
				Plotly.newPlot('tableau', data);
			}
		});

	})
	$('#first_cat').on('change',function(){

		$.ajax({
			url: "/plot",
			type: "GET",
			contentType: 'application/json;charset=UTF-8',
			data: {
				'selected': document.getElementById('first_cat').value

			},
			dataType:"json",
			success: function (data) {
				Plotly.newPlot('bargraph', data );
			}
		});
	})
</script>
</body>
</html>